/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

base_color = rgb(212, 209, 204)
dark_color = #000000
dark_color = #251c09
accent_color = #834111
light_accent = #796a4c
artifact_color = #c5c1bb
base_font_size = 12px
nav_link_size = 1.75 * base_font_size

html
    background-color base_color
    color: dark_color

html, body, h1, h2, h3, h4, h5, h6
    font-family Georgia, Garamond, serif
    color: dark_color

a,
a:visited
  color: dark_color

a:hover
  color: accent_color
  color: light_accent













/* This is a direct port from django */


nav
  padding: 10px 0 0 0

  ul
    /*background: url(../img/menu_bg.jpg) repeat-x*/

  li
    list-style-type square
    color light_accent
    //font-size 50px
    font-size nav_link_size * 2 + (nav_link_size / 2)
    line-height nav_link_size

    a
      font-size nav_link_size
      position relative
      top -(nav_link_size / 2)
      left -(nav_link_size / 2)

  ul.breadcrumbs
    position relative
    list-style-type: none
    padding: 10px 0 10px 0
    margin: 0

    li
      display: inline
      font-size base_font_size

      a
        font-size base_font_size
        position inherit


