/* line 3, ../sass/decoration.scss */
.decorative-bar {
  border: 0;
  margin: 0.5em auto;
  width: 50%;
  height: 0.1em;
  background-color: #00a5c4;
}
/* line 9, ../sass/decoration.scss */
.decorative-bar.long {
  width: 70%;
}
/* line 13, ../sass/decoration.scss */
.decorative-bar.fat {
  height: 0.4em;
}

/* line 21, ../sass/decoration.scss */
.decorative-circle {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  background-color: #003e67;
  float: right;
  margin: 0 1em;
}
